<h1>Quản lý Sản Phẩm</h1>
<table class="table table-default">
  <thead>
    <tr class="admin-table-head">
      <th>Tên Sản Phẩm</th>
      <th colspan="" rowspan="" headers="" scope="">Hình Ảnh</th>
      <th>Nội dung</th>
      <th>Giá</th>
      <th>Giá khuyến mại</th>
      <th colspan="" rowspan="" headers="" scope="">Danh Mục</th>
      <th colspan="" rowspan="" headers="" scope="">Nhãn</th> 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_products.each do |admin_product| %>
      <tr>
        <td><%= admin_product.name %></td>
        <td><%= admin_product.alias_name %></td>
        <td><%= admin_product.content %></td>
        <td><%= admin_product.price %></td>
        <td><%= admin_product.new_price %></td>
        <td><%= link_to 'Show', admin_product %></td>
        <td><%= link_to 'Edit', edit_admin_product_path(admin_product) %></td>
        <td><%= link_to 'Destroy', admin_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Thêm sản phẩm ', new_admin_product_path %>
